@font-face {
    font-family: 'NewRudawRegular';
    src: url('../assets/Fonts/new_rudaw_regular.ttf') format('truetype');
}

body {
    font-family: 'NewRudawRegular', sans-serif;
    background-color: #f7f7f7;
    direction: rtl;
    text-align: right;
}

h1, h2, h3 {
    color: #333;
}

